@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}